Repository HanaPoulpe/hanaburtinnetcore: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, isort, import-linter, python-tests, ts-eslint, ts-tests

.pre-commit-config.yaml:

# Pre commit checks
hooks:
-   id: poetry-export
    args: ["-f", "requirements.txt", "--with", "test"]
    verbose: true

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0  # Use the ref you want to point at
    hooks:
    -   id: check-ast
    -   id: check-executables-have-shebangs
    -   id: check-json
    -   id: check-toml
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: pretty-format-json
        args:
            - --autofix
    -   id: trailing-whitespace

-   repo: local
    hooks:
    # Python
    -   id: mypy
        name: mypy
        entry: "poetry run python-type-checker"
        language: "python"
        language_version: "3.11"
        types: [python]
        require_serial: true
        verbose: true
    -   id: black
        name: black
        entry: "poetry run python-linter-black"
        language: "python"
        language_version: "3.11"
        types: [python]
        require_serial: true
        verbose: true
    -   id: isort
        name: isort
        entry: "poetry run python-linter-isort"
        language: "python"
        language_version: "3.11"
        types: [python]
        require_serial: true
        verbose: true
    -   id: import-linter
        name: import-linter
        entry: "poetry run python-import-linter"
        language: "python"
        language_version: "3.11"
        types: [python]
        require_serial: true
        verbose: true
    -   id: python-tests
        name: python-tests
        entry: "poetry run python-tests src"
        language: "python"
        language_version: "3.11"
        types: [python]
        require_serial: true
        verbose: true

    # Javascript
    -   id: ts-eslint
        name: ts-eslint
        entry: "npm run eslint src"
        language: "node"
        types_or: [javascript, jsx, ts, tsx]
        require_serial: true
        verbose: true
    -  id: ts-tests
       name: ts-tests
       entry: "npm test"
       language: "node"
       types_or: [javascript, jsx, ts, tsx]
       require_serial: true
       verbose: true

chore: :arrow_up: fix pre-commit hooks
  .pre-commit-config.yaml
Due: none

tests: Move common tests
  src/tests/integration/common/content/test_models.py
  src/tests/integration/common/content/test_operations.py
  src/tests/integration/common/content/test_queries.py
Due: mypy, black, isort, import-linter, python-tests

ci: :green_heart: Update python tests
  .github/workflows/run-python-tests.yml
Due: none

fix: :bug: Fix dotenv for django
  src/manage.py
Due: mypy, black, isort, import-linter, python-tests

chore: :arrow_up: Rework poetry commands + add new tests
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/manage.py
  src/poetry.py
  src/poetry/__init__.py
  src/poetry/_docker.py
  src/poetry/_general.py
  src/poetry/_js_tools.py
  src/poetry/_python_linters.py
  src/poetry/_python_tests.py
  src/poetry/_servers.py
  src/poetry/_utils.py
  src/pytest.ini
  src/tests/conftest.py
  src/tests/integration/common/__init__.py
  src/tests/integration/common/content/__init__.py
  src/tests/settings/_mixins.py
Due: mypy, black, isort, import-linter, python-tests

fix: :bug: Add .idea to gitignore
  .gitignore
Due: none

docs: :books: Update local env example
  src/.env.example
Due: none

docs: :books: fix conftest.py typing
  src/tests/conftest.py
Due: mypy, black, isort, import-linter, python-tests

test: :heavy_check_mark: fix test config
  .gitignore
  src/tests/conftest.py
Due: mypy, black, isort, import-linter, python-tests

tests: Create more tests config
  src/tests/settings/__init__.py
  src/tests/settings/_base.py
  src/tests/settings/_interfaces.py
Due: mypy, black, isort, import-linter, python-tests

docs: :books: Add new test suite documentation
  README.md
Due: none

test: :heavy_check_mark: Fix user fixtures and factories
  src/tests/factories/users.py
  src/tests/fixtures/__init__.py
  src/tests/fixtures/users.py
Due: mypy, black, isort, import-linter, python-tests

test: :heavy_check_mark: Add tests for login
  src/tests/functional/__init__.py
  src/tests/functional/interfaces/__init__.py
  src/tests/functional/interfaces/backoffice/__init__.py
  src/tests/functional/interfaces/backoffice/views/__init__.py
  src/tests/functional/interfaces/backoffice/views/test_login.py
Due: mypy, black, isort, import-linter, python-tests

ci: :green_heart: Only trigger tests if relevant
  .github/workflows/run-js-tests.yml
  .github/workflows/run-python-tests.yml
Due: none

ci: :green_heart: Disable auto-merge on push
  .github/workflows/remove-auto-merge.yml
Due: none

ci: :green_heart:
  .github/workflows/auto-approver.yml
Due: none

ci: :green_heart: Update dependabot reviewer trigger to run after the CI
  .github/workflows/dependabot-reviewer.yml
Due: none

ci: :green_heart: Fix auto approve
  .github/workflows/auto-approver.yml
Due: none

ci: :green_heart: Fix auto approve
  .github/workflows/auto-approver.yml
  .github/workflows/dependabot-reviewer.yml
Due: none

ci: :green_heart: Fix GH actions
  .github/workflows/all-test-run.yml
  .github/workflows/run-js-tests.yml
  .github/workflows/run-python-tests.yml
Due: none

ci: :green_heart: Fix GH actions
  .github/workflows/all-test-run.yml
Due: none

feat(local): :sparkles: Add localdev settings classes
  src/localdev/__init__.py
  src/localdev/settings/__init__.py
  src/localdev/settings/_base.py
  src/localdev/settings/_interfaces.py
Due: mypy, black, isort, import-linter, python-tests

feat: :sparkles: Create side menu style
  src/queenbees/interfaces/backoffice/static_src/src/styles/index.css
  src/queenbees/interfaces/backoffice/static_src/src/styles/navbar.css
  src/queenbees/interfaces/backoffice/templates/base.html
  src/queenbees/interfaces/backoffice/templates/docs/django/styling.html
  src/queenbees/interfaces/backoffice/templates/menu.html
  src/queenbees/interfaces/backoffice/templates/partials/menu-items.html
Due: none

feat: :sparkles: Hide menu bar in login page
  src/queenbees/interfaces/backoffice/templates/registration/login.html
Due: none

fix: :bug: remove-auto-merge.yml failed if auto-merge was not set
  .github/workflows/remove-auto-merge.yml
Due: none

test: :heavy_check_mark: Add test for working login page
  src/tests/functional/interfaces/backoffice/views/test_login.py
Due: mypy, black, isort, import-linter, python-tests

test: :heavy_check_mark: Fix python tests for view testing
  .github/workflows/run-python-tests.yml
Due: none

build: :construction: Add cssnano to the dependency list
  src/queenbees/interfaces/backoffice/static_src/package-lock.json
  src/queenbees/interfaces/backoffice/static_src/package.json
Due: none

docs: :books: Add CI badges to README.md
  README.md
Due: none

build: :construction: Fix the command for non watcher frontend build
  src/poetry/_general.py
Due: mypy, black, isort, import-linter, python-tests

build: :construction: Add frontend with backoffice run if `LOCALDEV` is set
  src/poetry/_servers.py
Due: mypy, black, isort, import-linter, python-tests

build: :construction: Add `LOCALDEV` to local docker-compose.yaml
  docker-compose.yaml
Due: none

build: :construction: Add localdev settings to docker-compose.yaml
  docker-compose.yaml
Due: none

fix: :bug: correct tailwind nesting configuration
  src/queenbees/interfaces/backoffice/static_src/postcss.config.js
Due: ts-eslint, ts-tests

fix: :bug: correct tailwind nesting configuration
  src/localdev/settings/_interfaces.py
Due: mypy, black, isort, import-linter, python-tests

feat: :sparkles: Add status attribute to Article
  src/queenbees/core/content/models.py
  src/tests/integration/common/content/test_models.py
Due: mypy, black, isort, import-linter, python-tests

feat: :sparkles: List of articles view
  src/queenbees/interfaces/backoffice/content/__init__.py
  src/queenbees/interfaces/backoffice/content/urls.py
  src/queenbees/interfaces/backoffice/content/views/__init__.py
  src/queenbees/interfaces/backoffice/content/views/_article.py
  src/queenbees/interfaces/backoffice/templates/content/article-list.html
  src/queenbees/interfaces/backoffice/urls.py
  src/tests/functional/interfaces/backoffice/content/__init__.py
  src/tests/functional/interfaces/backoffice/content/views/__init__.py
  src/tests/functional/interfaces/backoffice/content/views/test_views.py
Due: mypy, black, isort, import-linter, python-tests

feat: :sparkles: Add articles to menu
  src/queenbees/interfaces/backoffice/templates/partials/menu-items.html
Due: none

chore: :arrow_up: clean up useless views.py
  src/queenbees/core/content/views.py
Due: mypy, black, isort, import-linter, python-tests
